@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
:root{
--bodyFont: 'Amatic SC', cursive;
--bodyFont2: 'Montserrat', sans-serif;
--font:19px;
--white:#ffff;
--yellow:#FACB36;
--fontColor:#444645;
--lightYellow:#F3CD56;
--cream:#FCF4EA;
--grey:#44464580;
--black:#000000CC;
--cream:#FCF4EA;
}


  /********************** 
  HEADER
  ***********************/


  .header{
    height: 110vh;
    background-image: url(coffee\ 6.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
      }
    
      .navi{
         padding: 15px 0;
        background-color: var(--black);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
      .navi-box{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
    
      .nav ul{
        list-style: none;
        display: flex;
      }
    
      .nav ul li{
      margin: 15px;
      font-family: var(--bodyFont2);
      font-size: 15px;
      }
      .nav ul li a{
        text-decoration: none;
        color: var(--yellow);
        
      }
    
      header .naslov{
        position: absolute;
        top: 50%;
        left: 50%;
       transform: translate(-50%, -50%);
      }
    
      header .naslov h3{
        font-family: var(--bodyFont);
        color: var(--yellow);
        font-size: 60px;
        font-weight: 100;
      }

      /************
        MAIN
      *************/

      .main .img-main{
      padding: 100px 0;
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      }

      .main .img-main .img-box{
        flex: 0 0 32%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
        
      }

      .main .img-main .img-box .img img{
        width: 100%;
      }

      .main .img-main .img-box .text{
       text-align: center;
       padding: 20px;
      }

      .main .img-main .img-box .text h3{
        color: #444645;
        font-family: var(--bodyFont2);
        font-size: 15px;
        text-transform: uppercase;
        font-weight: light;
      }

      .main .img-main .img-box .text h2{
        color: #444645;
        font-family: var(--bodyFont);
        size: 24px;
        margin: 20px 0;
      }
      .main .img-main .img-box .text h5{
        color: #FACB36;
        font-family: var(--bodyFont2);
        font-size: 12px;
        font-weight: light;
      }
    
      .main .img-main .img-box .text p{
        font-family: var(--bodyFont2);
        color: #444645;
        font-size: 14px;
        margin-top: 15px;
      }


      /* FOOTER */

      
.footer{
  background-color:var(--black);
  text-align: center;
  padding-top: 20px;
}

.footer .logo-footer p{
  font-family: var(--bodyFont2);
  color: var(--white);
  font-weight: lighter;
  margin: 10px 0;
}
.footer form {
  width: 43%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 20px auto;
}
.footer form input{
  flex: 0 0 49%;
  padding: 12px;
}
.footer form input::placeholder{
font-family: var(--bodyFont2);
}

.footer form button{
  flex: 0 0 49%;
  border: none;
  background-color: var(--black);
  color: var(--yellow);
  text-transform: uppercase;
  font-family: var(--bodyFont2);
  font-weight: bold;
  cursor: pointer;
}

.footer .footer-p{
  background-color: var(--yellow);
  padding: 20px 0;
}




    